* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.box {
  font-size: 4em;
  background-color: yellow;

  animation: changeColors;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  animation-timing-function: steps(30);
}

/* CSS animation */
/* starts with @keyframes and a name you choose */
@keyframes changeColors {
  /* Each keyframe is positioned on the timeline */
  0% {
    background-color: pink;
  }
  50% {
    background-color: rgb(132, 22, 40);
  }
  100% {
    background-color: pink;
    transform: rotate(360deg);
  }
}